<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1001319_r9j6hefw38i.css">
</head>
<body>
    <div id="nav">
        <div class="inner_nav">
            <div class="nav_left">
                <h1>欢迎进入</h1>
            </div>
            <div class="nav_right">
                <span class="reg"><i class="iconfont icon-tou" style="font-size: 30px; margin-right: 10px"></i><%= nickName %></span>
                <span class="log"><i class="iconfont icon-xingxing" style="font-size: 30px; margin-right: 10px"></i></span>
            </div>
        </div>
    </div>
    <div id="mian">
        <div class="main_l"></div>
        <div class="main_c"></div>
        <div class="main_r"></div>
    </div>
</body>
</html>