<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reg.css">
</head>
<body>
    <marquee loop="-1" direction="left" scrollamount="10">欢迎登陆</marquee>
    <!-- <div class="reg">请登录</div> -->
    <div class="wrapper">
        <form action="">
            <table class="tab">
                <tr>
                    <td>账号：</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td><input type="password"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" class="sub" value="登陆"></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>